

/* Estilos para o menu */
.menu {
  padding: 10px; /* Espaçamento interno */
  border-bottom: 3px solid #000; 
}

.navbar-brand img {
  width: 10 0px; /* Tamanho do logo */
  height: auto;
  margin-right: 20px; /* Espaçamento entre a imagem do logo e o texto */

}

.navbar-nav {
  display: flex;
  align-items: center; /* Alinha os itens verticalmente */
}

.navbar-nav .nav-item {
  margin-right: 15px; /* Espaçamento entre os itens */
}

.align-right {
  margin-left: 200px;
}


.container {
  margin-top: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 8px;
}

.table th {
  text-align: left; /* Centraliza o texto nas células de cabeçalho */
}

.table td {
  text-align: left; /* Alinha o texto à esquerda nas células de dados */
}

.table thead th {
  background-color: #f8f9fa;
  font-weight: bold;
  border-top: 2px solid #dee2e6;
  border-right: 2px solid #dee2e6;
  border-left: 2px solid #dee2e6;
}

.level-dot {
  font-size: 20px;
  vertical-align: middle;
}

.level-dot.easy { color: green; }
.level-dot.medium { color: orange; }
.level-dot.hard { color: red; }

.exercise-name {
  border-left: 2px solid #dee2e6; /* Adiciona uma borda à esquerda */
}

.date-section {
  background-color: #f0f0f0;
  padding: 10px;
  margin-bottom: 20px;
}

.nav-link-none{
  text-decoration: none;
}